#Creator: Yuri Costa
#Contributors: 
#June.2017
#github.com/yuric/bash_profile, 
#This code is released under the AGPLv3 license.
#Thank you for persisting unmodified references and text above this line. 
#Reach out if you have questions/comments.

# Template .ignore for Rails, OSX, and Textmate.
# Built with: https://www.gitignore.io and https://github.com/github/gitignore

# ----------------------------------------------------------------------------
# OSX
# ----------------------------------------------------------------------------
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# ----------------------------------------------------------------------------
# TextMate 
# ----------------------------------------------------------------------------
# *.tmproj
# *.tmproject
# tmtags

# ----------------------------------------------------------------------------
# Files that might appear in the root of a volume
# ----------------------------------------------------------------------------
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# ----------------------------------------------------------------------------
# Directories potentially created on remote AFP share
# ----------------------------------------------------------------------------
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ----------------------------------------------------------------------------
# Ruby on Rails
# ----------------------------------------------------------------------------
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# TODO add env var here than remove upload to the repo
config/initializers/secret_token.rb

# TODO remove secrets if any. Should not contain any on later versions of rails
# config/secrets.yml

# dotenv
# super secret environment variables
.env
*.env

# ----------------------------------------------------------------------------
# Environment normalization
# ----------------------------------------------------------------------------
/.bundle
/vendor/bundle

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history